<div class="col-md-1"></div>
<div class="col-md-11">
<% if !results.nil? %>
<h4>Airport Info for <%= results[:tsa_data].airportname %><%= button_to "Remove Airport", { action: "destroy", controller:"saved_airports", id: results[:id] }, class:"btn btn-primary btn-xs", method: :delete, data: { confirm: "Are you sure you want to remove this airport?" }%></h4>
<% if results[:faa_data]["delay"] == "true" %>
  <h4 style="color:red">DELAY CONDITION: <%= results[:faa_data]["status"]["reason"]%></h4>
  <% end %>
</div>
</div>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-6">
<h5>Security Wait Times</h5>
<table class="table table-condensed">
	<thead>
		<tr>
			<td><b>Checkpoint</b></td>
			<td><b>Wait Time (minutes)</b></td>
		</tr>
	</thead>
	<tbody>
		<% results[:tsa_data].recentwaits.each do |k,v| %>
		<tr>
			<td><%= k %></td>
			<td align="center"><%= v %></td>
		</tr>
		<% end %> 
	</tbody>
</table>
</div>
<div class="col-md-5">
<h5>Weather: <%= results[:faa_data]["weather"]["weather"] %></h5>
<table class="table table-condensed">
<tr>
	<td><b>Wind:</b></td>
	<td><%= results[:faa_data]["weather"]["wind"] %>
</tr>
<tr>
	<td><b>Temp:</b></td>
	<td><%= results[:faa_data]["weather"]["temp"] %>
</tr>
<tr>
	<td><b>Visibility:</b></td>
	<td><%= results[:faa_data]["weather"]["visibility"] %>
</tr>
<tr>
	<td><b>Updated:</b></td>
	<td><%= results[:faa_data]["weather"]["meta"]["updated"] %>
</tr>
</table>
</div>
</div>
<div class="row">
<div class="col-md-12">
<% elsif %>
<h3>Data services not available at this time. Please try again later</h3>
<% end %>
</div>

