
<%= notice %>
<h3>Get Security Wait Times and Weather for any US Aiport Here</h3>
  <%= form_tag("/inquiryresults", method: "get") do %>
    <%= label_tag(:airport, "Airport Code:") %>
    <%= text_field_tag(:airport) %>
    <%= submit_tag("Get Info") %>
  <% end %>