<!DOCTYPE html>
<html>
<head>
  <title>Railsair</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<% if session[:user_id].nil? %>
<%= link_to "Sign In", login_path %>
<% elsif %>
<%= link_to "Sign Out", logout_path %>
<% end %>
<br>
<%= notice %>
<br>
<%= yield %>

</body>
</html>
